<div class="jumbotron center">
<h1>Welcome to my app</h1>
<p> 
	<%= link_to "Log in", "https://media.giphy.com/media/6cibNZwJNIdhu/giphy.gif", class: "btn btn-default btn-lg" %> 
	<%= link_to "Sign up", "https://media.giphy.com/media/6cibNZwJNIdhu/giphy.gif", class: "btn btn-primary btn-lg" %> 
</p>
</div>
